<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>question</key>
		<string>1</string>
		<key>answer</key>
		<string>锦上添花</string>
		<key>explain</key>
		<string></string>
		<key>originOfIdioms</key>
		<string></string>
	</dict>
	<dict>
		<key>question</key>
		<string>6</string>
		<key>answer</key>
		<string>满载而归</string>
		<key>explain</key>
		<string></string>
		<key>originOfIdioms</key>
		<string></string>
	</dict>
	<dict>
		<key>question</key>
		<string>28</string>
		<key>answer</key>
		<string>画龙点睛</string>
		<key>explain</key>
		<string></string>
		<key>originOfIdioms</key>
		<string></string>
	</dict>
	<dict>
		<key>question</key>
		<string>29</string>
		<key>answer</key>
		<string>对牛弹琴</string>
		<key>explain</key>
		<string></string>
		<key>originOfIdioms</key>
		<string></string>
	</dict>
	<dict>
		<key>question</key>
		<string>10</string>
		<key>answer</key>
		<string>积少成多</string>
		<key>explain</key>
		<string></string>
		<key>originOfIdioms</key>
		<string></string>
	</dict>
	<dict>
		<key>question</key>
		<string>100</string>
		<key>answer</key>
		<string>各奔东西</string>
		<key>explain</key>
		<string></string>
		<key>originOfIdioms</key>
		<string></string>
	</dict>
	<dict>
		<key>question</key>
		<string>1001</string>
		<key>answer</key>
		<string>纸上谈兵</string>
		<key>explain</key>
		<string></string>
		<key>originOfIdioms</key>
		<string></string>
	</dict>
	<dict>
		<key>question</key>
		<string>1005</string>
		<key>answer</key>
		<string>七上八下</string>
		<key>explain</key>
		<string></string>
		<key>originOfIdioms</key>
		<string></string>
	</dict>
	<dict>
		<key>question</key>
		<string>1007</string>
		<key>answer</key>
		<string>井底之蛙</string>
		<key>explain</key>
		<string></string>
		<key>originOfIdioms</key>
		<string></string>
	</dict>
	<dict>
		<key>question</key>
		<string>101</string>
		<key>answer</key>
		<string>本末倒置</string>
		<key>explain</key>
		<string></string>
		<key>originOfIdioms</key>
		<string></string>
	</dict>
	<dict>
		<key>question</key>
		<string>1010</string>
		<key>answer</key>
		<string>三足鼎立</string>
		<key>explain</key>
		<string></string>
		<key>originOfIdioms</key>
		<string></string>
	</dict>
	<dict>
		<key>question</key>
		<string>1012</string>
		<key>answer</key>
		<string>眉飞色舞</string>
		<key>explain</key>
		<string></string>
		<key>originOfIdioms</key>
		<string></string>
	</dict>
	<dict>
		<key>question</key>
		<string>1015</string>
		<key>answer</key>
		<string>千军万马</string>
		<key>explain</key>
		<string></string>
		<key>originOfIdioms</key>
		<string></string>
	</dict>
	<dict>
		<key>question</key>
		<string>1017</string>
		<key>answer</key>
		<string>如雷贯耳</string>
		<key>explain</key>
		<string></string>
		<key>originOfIdioms</key>
		<string></string>
	</dict>
	<dict>
		<key>question</key>
		<string>1019</string>
		<key>answer</key>
		<string>三头六臂</string>
		<key>explain</key>
		<string></string>
		<key>originOfIdioms</key>
		<string></string>
	</dict>
	<dict>
		<key>question</key>
		<string>102</string>
		<key>answer</key>
		<string>不堪入目</string>
		<key>explain</key>
		<string></string>
		<key>originOfIdioms</key>
		<string></string>
	</dict>
</array>
</plist>
